.listTable {
  margin: 0 auto;
}

.headingRow {
  position: relative;

  display: flex;
  align-items: flex-end;
}

.sortIcon {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 5px;

  width: 1em;
  height: 1em;
  background-image: url("../../../assets/sort.svg");
  background-size: contain;
}

.row {
  height: 50px;
  font-size: 14px;
}

tbody {
  .cell {
    border: 1px solid #27555f;
    border-radius: 5px;
  }
}
